@import url("https://use.typekit.net/emr2ogr.css");
@import "https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css";
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

/* font-family: "acumin-pro", sans-serif;
font-weight: 100;
font-weight: 200;
font-weight: 300;
font-weight: 700;
font-style: normal; */
body {
  margin: 0;
  background: #f1efe7;
  color: #2d2926;
  font-family: system-ui, sans-serif;
  font-family: "acumin-pro", sans-serif;
  font-weight: 300;
  font-style: normal;
}
header {
  background: #f1efe7;
}
.hero {
  /* background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.1) 50%), url('https://www.toptal.com/designers/subtlepatterns/uploads/5-dots.png'); */
  /* https://www.toptal.com/designers/subtlepatterns/uploads/y-so-serious.png */
  background-size: contain;
  background-repeat: repeat;
  background-position: center;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  height: 30rem;
  background-color: #f1efe7;
  
}
nav a {
  font-family: "acumin-pro", sans-serif;
  font-style: normal;
  color: #fff !important;
  text-decoration: none;
  
}
nav a.brand {
  font-size: 1.75rem;
  font-weight: 400;
}
nav button.nav-link {
  font-size: 1.25rem !important;
}
button.btn-black {
  --bs-btn-hover-bg: #222;
}