<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Clevercouch | stuff</title>
		
		<link rel="preconnect" href="https://use.typekit.net" crossorigin />
		<link rel="dns-prefetch" href="https://use.typekit.net" />
		
		<link 
		  rel="stylesheet" 
		  href="https://use.typekit.net/emr2ogr.css" 
		  media="print" 
		  onload="this.media='all'" 
		/>
		
		<link href="/@fs/styles/global.css" rel="stylesheet" />
		<link href="/src/styles/global.css" rel="stylesheet" />
		
		<script src="/src/js/custom.js" crossorigin="anonymous"></script>
	</head>
	<body class="bg-blueprint font-sans text-charcoal selection:bg-sand-accent">
	   <slot />
	</body>
</html>
